.jumbotron {
  background: $color-gray-darkest;
  color: $color-white;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;

    @include media-breakpoint-small {
      flex-direction: column;
    }
  }

  &__description {
    margin: $space-l 0;
    width: 50%;

    @include media-breakpoint-small {
      width: auto;
    }
  }

  &__image-container {
    width: 50%;

    @include media-breakpoint-small {
      width: auto;
    }
  }

  &__image {
    max-width: 100%;
    max-height: auto;
  }

  &__title {
    font-size: 200%;
  }

  &__summary {
    margin: $space 0;
  }
}
